.QuizList{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #c0dbf1 0%, #04498a 37%,#2a4864 100%)
}
.QuizList h1{
   color: #fff; 
}
.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.QuizList li {
    margin-bottom: 10px;
}
.QuizList li a {
    text-decoration: none;
    color: #fff;
}
.QuizList li a:hover {    
    color: rgb(160, 160, 160);
}
.showPopUp {
    width: 200px;
    height: 70px;
    background-color: #313131;
    margin-bottom: 50px;
    box-shadow: 3px 3px 8px 4px #313131;
    opacity: 0;
    color: #f5f5f5;
    border-radius: 4px;
    transition: opacity 0.5s; }
.showPopUp p {
    margin: 10px; }
.showPopUp i {
    margin-left: auto;
    margin-right: 3px; }
.showPopUpFalse {
    display: flex;
    opacity: 1; }
a {
    color:white;
}